<header id="ccr-header">
	{% comment %}<section id="ccr-nav-top" class="fullwidth">
		<div class="">
			<div class="container">
				<nav class="top-menu">
					<ul class="left-top-menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">Site Map</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul><!-- /.left-top-menu -->

					<ul class="right-top-menu pull-right">
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
						<li><a href="#">Subscribe</a></li>
						<li>
							<form class="form-inline" role="form" action="#">
								<input type="search" placeholder="Search here..." required>
								  <button type="submit"><i class="fa fa-search"></i></button>
							</form>
						</li>
					</ul> <!--  /.right-top-menu -->
				</nav> <!-- /.top-menu -->
			</div>
		</div>
	</section> <!--  /#ccr-nav-top  -->{% endcomment %}



	<section id="ccr-site-title">
		<div class="container">
			<div class="site-logo">
				<a href="index.html" class="navbar-brand">
					<img src="../../static/img/logo.png" alt="Side Logo" />
						<h1>Daily <span>News</span></h1>
						<h3>The Daily News Source</h3>
				</a>
			</div> <!-- / .navbar-header -->

			<div class="add-space">
				728 x 90 px Banner
			</div> <!-- / .adspace -->

		</div>	<!-- /.container -->
	</section> <!-- / #ccr-site-title -->



	<section id="ccr-nav-main">
		<nav class="main-menu">
			<div class="container">

				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
				            <i class="fa fa-bars"></i>
			          	</button> <!-- /.navbar-toggle -->
				</div> <!-- / .navbar-header -->
                {% comment %}
 NEWS ▼
World News
Local News
TECH
SPORTS
LIFE
INSPIRING
LOVE
CELEBRITY
UNBELIEVABLE
FUNNY
HEALTH

Search...
 Search{% endcomment %}

                {% load sitetree %}
                {% sitetree_menu from 'news' include "trunk" template 'sitetree/tree.html' %}
{#                {% sitetree_menu from "mytree" include "trunk,topmenu" template "mytrees/mymenu.html" %}#}

{##}
{#				<div class="collapse navbar-collapse ccr-nav-main">#}
{#					<ul class="nav navbar-nav">#}
{#						<li><a class="active" href="index.html">Home</a></li>#}
{#						<li class="dropdown">#}
{#							<a href="#">NEWS <i class="fa fa-caret-down"></i></a>#}
{#							<ul class="sub-menu">#}
{#					          	<li><a href="">World News</a></li>#}
{#					          	<li><a href="">Local News</a></li>#}
{#					        </ul><!-- /.sub-menu -->#}
{#						</li><!-- /.dropdown -->#}
{#						<li><a href="#">TECH</a></li>#}
{#						<li><a href="#">SPORTS</a></li>#}
{#						<li><a href="#">LIFE</a></li><!--  /.dropdown -->#}
{#						<li><a href="#">INSPIRING</a></li>#}
{#                        <li><a href="#">LOVE</a></li>#}
{#                        <li><a href="#">CELEBRITY</a></li>#}
{#                        <li><a href="#">UNBELIEVABLE</a></li>#}
{#                        <li><a href="#">FUNNY</a></li>#}
{##}
{##}
{##}
{##}
{#					</ul> <!-- /  .nav -->#}
{#				</div><!-- /  .collapse .navbar-collapse  -->#}

				<div id="currentTime" class="pull-right current-time">
					<i class="fa fa-clock-o"></i> 12:10


				</div><!-- / #currentTime -->

			</div>	<!-- /.container -->
		</nav> <!-- /.main-menu -->
	</section> <!-- / #ccr-nav-main -->



{#	<section id="ccr-nav-below-main">#}
{#		<nav class="second-menu">#}
{#			<div class="container">#}
{##}
{#				<div class="navbar-header">#}
{#						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">#}
{#				            <i class="fa fa-bars"></i>#}
{#			          	</button> <!-- /.navbar-toggle -->#}
{#				</div> <!-- / .navbar-header -->#}
{##}
{#				<div class="collapse navbar-collapse ccr-nav-below-main">#}
{#					<ul class="nav navbar-nav">#}
{#						<li><a href="#">Europe</a></li>#}
{#						<li><a href="#">USA</a></li>#}
{#						<li><a href="#">Middle East</a></li>#}
{#						<li><a href="#">Social and IT</a></li>#}
{#						<li><a href="#">Culture</a></li>#}
{#					</ul> <!-- /.nav /.navbar-nav -->#}
{#				</div>#}
{##}
{#				<div class="ccr-language">#}
{#					<ul>#}
{#						<li>Language:</li>#}
{#						<li><a href="#"><img src="../../static/img/uk.png" alt="UK">English</a></li>#}
{#						<li><a href="#"><img src="../../static/img/france.png" alt="France">France</a></li><li>#}
{#						<a href="#"><img src="../../static/img/garman.png" alt="Garman">Garman</a></li>#}
{#					</ul>#}
{#				</div> <!-- /.ccr-language -->#}
{#			</div><!-- /.container -->#}
{#		</nav><!-- /.second-menu -->#}
{#	</section><!-- / #ccr-nav-below-main -->#}

</header> <!-- /#ccr-header -->