
{% extends 'base.html' %}

{% load disqus_tags %}


{% block latest-news %}
    <section id="ccr-blog">
{% for news in object_list %}
    {% if news.is_active %}
    <article>
					<figure class="blog-thumbnails">
					<img src="{{ news.image.url }}" alt="Article Image ">
					</figure>
					<div class="blog-text">
{#						<h1><a href="{{ news.slug }}">{{ news.title }}</a></h1>#}
                        <h1><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h1>
                        {% comment %}{% url 'post:detail' post.id %}">{% endcomment %}

                        {{ news.description|safe|truncatechars:255 }}

						<div class="meta-data">
							<a href="#" class="like"><i class="fa fa-eye"></i> {{ news.count_views }}</a>
							<a href="{{ news.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.id }}" class="comments">
                                <i class="fa fa-comments-o"></i>
                                View Comments
                            </a>

                            {% disqus_num_replies %}
							<span class="read-more"><a href="{{ news.get_absolute_url }}">Read More</a></span>
						</div>
					</div> <!-- /.blog-text -->
				</article>
    {% endif %}
{% endfor %}
    <div class="clearfix"></div>
    {% if is_paginated %}
    <nav class="nav-paging">
					<ul>
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="/news?page={{ page_obj.previous_page_number }}">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                        {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li><span class="current">{{ page_obj.number }}</span></li>
                            {% else %}
                                <li>
                                    <a href="/news?page={{ page }}">
                                            {{ page }}
                                    </a>
                                </li>
                            {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="/news?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right"></i></a>
                        </li>
                    {% endif %}

					</ul>
				</nav>
    {% endif %}

        </section> <!-- /#ccr-blog -->
{% endblock %}

{% block popular_post %}
    <section id="sidebar-popular-post">
				<div class="ccr-gallery-ttile">
					<span></span>
					<p><strong>Popular Post</strong></p>
				</div> <!-- .ccr-gallery-ttile -->
                <ul>
                {% for news in popular_post %}
                    {% if news.is_active %}
                    <li>
						<img src="{{ news.image.url }}" alt="Avatar">
						<a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="{{ news.pub_date|date:"d-m-Y" }}">{{ news.pub_date|date:"d-m-Y" }}</time></span>
							<a href="#" class="like"><i class="fa fa-eye"></i> {{ news.count_views }}</a>
							<a href="{{ news.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.id }}" id="comment-number" class="comments">
                                <i class="fa fa-comments-o"></i>

                            </a>
						</div>
					</li>
                    {% endif %}

                {% endfor %}
                </ul>

			</section> <!-- /#sidebar-popular-post -->
{% endblock %}

{% block older_post %}

    <section id="sidebar-older-post">
				<div class="ccr-gallery-ttile">
					<span></span>
					<p><strong>Older Post</strong></p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
					{% for news in older_post %}
                        {% if news.is_active %}
					<li>
						<img src="{{ news.image.url }}" alt="Avatar">
						<a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="{{ news.pub_date|date:"d-m-Y" }}">{{ news.pub_date|date:"d-m-Y" }}</time></span>
							<a href="#" class="like"><i class="fa fa-eye"></i> {{ news.count_views }}</a>
							<a href="{{ news.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.id }}" id="comment-number" class="comments">
                                <i class="fa fa-comments-o"></i>

                            </a>
                        </div>
					</li>
                        {% endif %}
					{% endfor %}

				</ul>

			</section> <!-- /#sidebar-older-post -->
{% endblock %}