{% extends "base_single_page.html" %}
 {% load embed_video_tags %}
{% load disqus_tags %}
{% block news_descripton %}


<article id="ccr-article">
				<h1><a href="{{ news.slug }}" >{{ news.title }}</a></h1>

				<div class="article-like-comment-date">
					Posted by <a href="{{ news.author_id }}">{{ news.author }}</a> on <time datetime="{{ news.pub_date }}">{{ news.pub_date }}</time> in <a href="#category">
                    {% for category in categories %}
					    {{ category }}
					{% endfor %}
					</a>

					<a class="like" href="#"><i class="fa fa-eye"></i> {{ news.count_views }}</a>
					<a href="{{ news.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.id }}" class="comments">
                                <i class="fa fa-comments-o"></i>
                                View Comments
                            </a>

				</div> <!-- /.article-like-comment-date -->

				<img src="{{ news.image.url }}" alt="1st Image">
				{{ news.description|safe }}

                {% load embed_video_tags %}

                    {% video news.video as my_video %}

                      {% video my_video "medium" %}

                    {% endvideo %}


				<div class="article-tags">
{#					Tag: <a href="#tag1">Entertainment</a>, <a href="#tag2">Holiwood</a>, <a href="#tag3">Movie</a>#}
                    Tag: {% for tag in object.tag.all %}
                        <a href="#tag">{{ tag }} </a>
                    {% endfor %}
				</div>
</article>



{% endblock %}

{% block comments %}
    {% load disqus_tags %}
{% disqus_show_comments %}
{% endblock %}

{% block popular_post %}
<section id="sidebar-popular-post">
				<div class="ccr-gallery-ttile">
					<span></span>
					<p><strong>Popular Post</strong></p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
					{% for news in popular_post %}
                    <li>
						<img src="{{ news.image.url }}" alt="Avatar">
						<a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="{{ news.pub_date }}">{{ news.pub_date }}</time></span>
							<a href="#" class="like"><i class="fa fa-eye"></i> {{ news.count_views }}</a>
							<a href="{{ news.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.id }}" id="comment-number" class="comments">
                                <i class="fa fa-comments-o"></i>

                            </a>
						</div>
					</li>

                {% endfor %}
				</ul>

			</section> <!-- /#sidebar-popular-post -->
{% endblock %}

{% block older_post %}

    <section id="sidebar-older-post">
				<div class="ccr-gallery-ttile">
					<span></span>
					<p><strong>Older Post</strong></p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
					{% for news in older_post %}
					<li>
						<img src="{{ news.image.url }}" alt="Avatar">
						<a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="{{ news.pub_date }}">{{ news.pub_date }}</time></span>
							<a href="#" class="like"><i class="fa fa-eye"></i> {{ news.count_views }}</a>
							<a href="{{ news.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.id }}" id="comment-number" class="comments">
                                <i class="fa fa-comments-o"></i>

                            </a>
                        </div>
					</li>
					{% endfor %}

				</ul>

			</section> <!-- /#sidebar-older-post -->
    {% endblock %}

{% block related_post %}

    <section id="ccr-article-related-post">
				<div class="ccr-gallery-ttile">
						<span class="bottom"></span>
						<p>Related Post</p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
                    {% for news in related_post %}
                        <li>
							<div class="ccr-thumbnail">
								<img src="{{ news.image.url }}" alt="thumbnail-small-1.jpg">
								<p><a href="{{ news.get_absolute_url }}">Read More</a></p>
							</div>
							<h5><a href="#">{{ news.title }}</a></h5>
						</li>
                    {% endfor %}
					</ul>


			</section> <!-- /#ccr-article-related-post -->




{% endblock %}