{% load staticfiles %}
<!doctype html>
<html lang="en">
{% include 'partials/_head.html' %}
<body>

{% include 'partials/_header.html' %}

<section id="ccr-main-section">
	<div class="container">

		<section id="ccr-left-section" class="col-md-8">

			<div class="current-page">
				<a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="blog.html">Blog <i class="fa fa-angle-double-right"></i></a> Single
			</div> <!-- / .current-page -->

            {% block news_descripton %}

            {% endblock %}



			<section id="ccr-article-related-post">
				<div class="ccr-gallery-ttile">
						<span class="bottom"></span>
						<p>Related Post</p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
						<li>
							
							<div class="ccr-thumbnail">
								<img src="../../static/img/sports-thumb-4.jpg" alt="thumbnail-small-1.jpg">
								<p><a href="#postlink">Read More</a></p>
							</div>
							<h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
						</li>
						<li>
							
							<div class="ccr-thumbnail">
								<img src="../../static/img/sports-thumb-5.jpg" alt="thumbnail-small-1.jpg">
								<p><a href="#postlink">Read More</a></p>
							</div>
							<h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
						</li>
						<li>
							
							<div class="ccr-thumbnail">
								<img src="../../static/img/sports-thumb-6.jpg" alt="thumbnail-small-1.jpg">
								<p><a href="#postlink">Read More</a></p>
							</div>
							<h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
						</li>
						<li>
							
							<div class="ccr-thumbnail">
								<img src="../../static/img/sports-thumb-7.jpg" alt="thumbnail-small-1.jpg">
								<p><a href="#postlink">Read More</a></p>
							</div>
							<h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
						</li>
						<li>
							
							<div class="ccr-thumbnail">
								<img src="../../static/img/sports-thumb-8.jpg" alt="thumbnail-small-1.jpg">
								<p><a href="#postlink">Read More</a></p>
							</div>
							<h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
						</li>
						<li>
							
							<div class="ccr-thumbnail">
								<img src="../../static/img/sports-thumb-9.jpg" alt="thumbnail-small-1.jpg">
								<p><a href="#postlink">Read More</a></p>
							</div>
							<h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
						</li>
						<li>
							
							<div class="ccr-thumbnail">
								<img src="../../static/img/sports-thumb-10.jpg" alt="thumbnail-small-1.jpg">
								<p><a href="#postlink">Read More</a></p>
							</div>
							<h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
						</li>
						<li>
							
							<div class="ccr-thumbnail">
								<img src="../../static/img/sports-thumb-11.jpg" alt="thumbnail-small-1.jpg">
								<p><a href="#postlink">Read More</a></p>
							</div>
							<h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
						</li>
					</ul>


			</section> <!-- /#ccr-article-related-post -->

			<section class="bottom-border"></section> <!-- /#bottom-border -->

			<section id="ccr-commnet">
				<div class="ccr-gallery-ttile">
						<span class="bottom"></span>
						<p>Comment</p>
				</div> <!-- .ccr-gallery-ttile -->

				<ol class="commentlist">
					<li  class="comment">
						<article>
							<div class="comment-authore">
								<img src="../../static/img/avatar2.png" alt="Avatar">
								<a href="#">Lisa</a>
							</div>
							<div class="comment-content">
								Lorem idivsum dolor sit amet, consectetur adipisicing elit. Sapiente, repellendus, omnis, ullam fugit repudiandae reiciendis velit ad consequuntur porro laudantium delectus nulla nemo assumenda sunt culpa voluptatum deleniti dolore fugiat.
							</div>
							<div class="reply"><a href="#">Reply</a></div>
							<div class="comment-meta"> 08 February; 2014</div>
						</article>
						<ul class="children">
							<li class="comment">
								<article>
									<div class="comment-authore">
										<img src="../../static/img/avatar.png" alt="Avatar">
										<a href="#">Joly</a>
									</div>
									<div class="comment-content">
										Lorem idivsum dolor sit amet, consectetur adipisicing elit. Sapiente, repellendus, omnis, ullam fugit repudiandae reiciendis velit ad consequuntur porro laudantium delectus nulla nemo assumenda sunt culpa voluptatum deleniti dolore fugiat.
									</div>
									<div class="reply"><a href="#">Reply</a></div>
									<div class="comment-meta"> 08 February; 2014</div>
								</article>
								
							</li> <!-- /.comment -->
						</ul> <!-- /.children -->
					</li> <!-- /.comment -->
					<li  class="comment">
						<article>
							<div class="comment-authore">
								<img src="../../static/img/avatar3.jpg" alt="Avatar">
								<a href="#">Hena</a>
							</div>
							<div class="comment-content">
								Lorem idivsum dolor sit amet, consectetur adipisicing elit. Sapiente, repellendus, omnis, ullam fugit repudiandae reiciendis velit ad consequuntur porro laudantium delectus nulla nemo assumenda sunt culpa voluptatum deleniti dolore fugiat.
							</div>
							<div class="reply"><a href="#">Reply</a></div>
							<div class="comment-meta"> 08 February; 2014</div>
						</article>
						<ul class="children">
							<li class="comment">
								<article>
									<div class="comment-authore">
										<img src="../../static/img/avatar.png" alt="Avatar">
										<a href="#">Joly</a>
									</div>
									<div class="comment-content">
										Lorem idivsum dolor sit amet, consectetur adipisicing elit. Sapiente, repellendus, omnis, ullam fugit repudiandae reiciendis velit ad consequuntur porro laudantium delectus nulla nemo assumenda sunt culpa voluptatum deleniti dolore fugiat.
									</div>
									<div class="reply"><a href="#">Reply</a></div>
									<div class="comment-meta"> 08 February; 2014</div>
								</article>
								<ul class="children">
									<li class="comment">
										<article>
											<div class="comment-authore">
												<img src="../../static/img/avatar3.jpg" alt="Avatar">
												<a href="#">Hena</a>
											</div>
											<div class="comment-content">
												Lorem idivsum dolor sit amet, consectetur adipisicing elit. Sapiente, repellendus, omnis, ullam fugit repudiandae reiciendis velit ad consequuntur porro laudantium delectus nulla nemo assumenda sunt culpa voluptatum deleniti dolore fugiat.
											</div>
											<div class="reply"><a href="#">Reply</a></div>
											<div class="comment-meta"> 08 February; 2014</div>
										</article>
										
									</li> <!-- /.comment -->
								</ul> <!-- /.children -->
								
							</li> <!-- /.comment -->
						</ul> <!-- /.children -->
					</li> <!-- /.comment -->
				</ol> <!-- /.commentlist -->



			</section> <!-- /#ccr-commnet -->



			<section class="bottom-border"></section> <!-- /#bottom-border -->

			<section id="ccr-respond">
				<div class="ccr-gallery-ttile">
						<span class="bottom"></span>
						<p>Post a Comment</p>
				</div> <!-- .ccr-gallery-ttile -->
				<div id="respond">
					<form action="#" method="post" id="commentform">
					<input id="author" name="author" type="text" placeholder="Name" value="" required>
					<input id="email" name="email" type="email" placeholder="Email" value="" required>
					<input id="url" name="url" type="url" placeholder="Website" value="">
					<textarea id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
					<input name="submit" type="submit" id="submit" value="Submit">
					
					</form> <!-- /#commentform -->
					
				</div> <!-- /#respond -->

			</section> <!-- /#ccr-respond -->


				


		</section><!-- /.col-md-8 / #ccr-left-section -->



		<aside id="ccr-right-section" class="col-md-4">
			<section id="social-buttons">
				 <ul>
				 	<li>
				 		<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>

						<p><span class="bubble"></span><span class="count">202</span> Like</p>
				 	</li>
				 	<li>
				 		<a href="#"  class="linkedin"><i class="fa fa-linkedin"></i></a>
						<p><span class="bubble"></span><span class="count">202</span> Like</p>
				 	</li>
				 	<li>
				 		<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<p><span class="bubble"></span><span class="count">202</span> Follow</p>
				 	</li>
				 	<li>
				 		<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<p><span class="bubble"></span><span class="count">202</span> Like</p>
				 	</li>
				 </ul>
					
			</section>  <!-- /#social-buttons -->
			
			<section id="sidebar-popular-post">
				<div class="ccr-gallery-ttile">
					<span></span> 
					<p><strong>Popular Post</strong></p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
					<li>
						<img src="../../static/img/sports-thumb-10.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
					<li>
						<img src="../../static/img/thumbnail-small-7.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
					<li>
						<img src="../../static/img/sports-thumb-5.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
					<li>
						<img src="../../static/img/thumbnail-small-2.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
					<li>
						<img src="../../static/img/thumbnail-small-5.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
				</ul>

			</section> <!-- /#sidebar-popular-post -->

			<section id="sidebar-video-post">
				<div class="ccr-gallery-ttile">
					<span></span> 
					<p><strong>Video Post</strong></p>
				</div> <!-- .ccr-gallery-ttile -->

				<div class="sidebar-video">
				<iframe width="340" height="195" src="//www.youtube.com/embed/Ak8f8yTPRRc" frameborder="0" allowfullscreen></iframe>
				CodexCoder creates spectacular Premium WordPress Themes, WordPress Plugins, HTML Templates, PSD Template and more...
				</div>
				<div class="date-like-comment">
					<a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
					<a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
				</div>
			</section>  <!-- /#sidebar-video-post -->

			<section id="ccr-calender">

				<table id="calendar">
				<caption >February 2014</caption>
				<thead data-iceapc="1">
				<tr>
					<th scope="col" title="Monday">M</th>
					<th scope="col" title="Tuesday">T</th>
					<th scope="col" title="Wednesday">W</th>
					<th scope="col" title="Thursday">T</th>
					<th scope="col" title="Friday">F</th>
					<th scope="col" title="Saturday">S</th>
					<th scope="col" title="Sunday">S</th>
				</tr>
				</thead>

				<tfoot data-iceapc="4">
				<tr data-iceapc="3">
					<td colspan="3" id="prev"><a href="#" title="Previous">&laquo; Jan</a></td>
					<td class="pad">&nbsp;</td>
					<td colspan="3" id="next" class="pad"><a href="#" title="Next">Mar &raquo;</a></td>
				</tr>
				</tfoot>

				<tbody>
				<tr>
					<td></td><td></td><td></td><td></td><td></td><td>1</td><td >2</td>
				</tr>
				<tr>
					<td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td>
				</tr>
				<tr>
					<td>10</td><td>11</td><td>12</td><td>13</td><td><a href="#" title="Post">14</a></td><td>15</td><td>16</td>
				</tr>
				<tr>
					<td>17</td><td id="today">18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td>
				</tr>
				<tr>
					<td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
					<td></td><td></td>
				</tr>
				</tbody>
				</table>

			</section>


			<section id="sidebar-older-post">
				<div class="ccr-gallery-ttile">
					<span></span> 
					<p><strong>Older Post</strong></p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
					<li>
						<img src="../../static/img/sports-thumb-10.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
					<li>
						<img src="../../static/img/thumbnail-small-7.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
					<li>
						<img src="../../static/img/sports-thumb-5.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
					<li>
						<img src="../../static/img/thumbnail-small-2.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
					<li>
						<img src="../../static/img/thumbnail-small-5.jpg" alt="Avatar">
						<a href="#">This is the first popular post</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
							<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
							<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
						</div>
					</li>
				</ul>

			</section> <!-- /#sidebar-older-post -->

			<section id="sidebar-entertainment-post">
				<div class="ccr-gallery-ttile">
					<span></span> 
					<p><strong>Entertainment</strong></p>
				</div> <!-- .ccr-gallery-ttile -->

				<div class="sidebar-entertainment">
					<img src="../../static/img/entertainment.jpg" alt="entertainment">
					<a href="#">Miss Joly loves you to share her tell. Are you ready?</a>
				</div>
				<div class="date-like-comment">
					<a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
					<a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
				</div>
			</section>  <!-- /#sidebar-entertainment-post -->


			<section id="ccr-sidebar-add-place">
				<div class="sidebar-add-place">
					370x250 px
				</div> 
			</section> <!-- /#ccr-sidebar-add-place -->


			<section id="ccr-sidebar-newslater">
				
				<div class="ccr-gallery-ttile">
					<span></span> 
					<p><label for="sb-newslater"><strong>Newslater</strong></label></p>
				</div> <!-- .ccr-gallery-ttile -->
				
				<div class="sidebar-newslater-form">
					<form class="ccr-gallery-ttile" action="#">
						<input type="email" id="sb-newslater" name="sb-newslater" placeholder="Enter your email address" required>
						<button type="submit">Subscribe</button>

					</form>
				</div> <!-- /.sidebar-newslater-form -->
				
			</section> <!-- /#ccr-sidebar-newslater -->

			<section id="ccr-find-on-fb">
				<div class="find-fb-title">
					<span><i class="fa fa-facebook"></i></span> Find us on Facebook
				</div> <!-- /.find-fb-title -->
				<div class="find-on-fb-body">

					<div class="fb-like-box" data-href="https://www.facebook.com/codexcoderltd/" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>

				</div> <!-- /.find-on-fb-body -->
			</section> <!-- /#ccr-find-on-fb -->


		</aside><!-- / .col-md-4  / #ccr-right-section -->


	</div><!-- /.container -->
</section><!-- / #ccr-main-section -->

{% include 'partials/_footer.html' %}


{% include 'partials/_footscripts.html' %}

</body>
</html>