{% load staticfiles %}
<!doctype html>
<html lang="en">
{% include "partials/_head.html" %}

<body>

{% include "partials/_header.html" %}


<section id="ccr-main-section">
	<div class="container">
		<section id="ccr-left-section" class="col-md-8">

				{% block latest-news %}
				{% endblock %}

                {% block menu %}

{% endblock %}
		</section><!-- /.col-md-8 / #ccr-left-section -->
		<aside id="ccr-right-section" class="col-md-4">
			<section id="social-buttons">
				 <ul>
				 	<li>
				 		<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>

						<p><span class="bubble"></span><span class="count">202</span> Like</p>
				 	</li>
				 	<li>
				 		<a href="#"  class="linkedin"><i class="fa fa-linkedin"></i></a>
						<p><span class="bubble"></span><span class="count">202</span> Like</p>
				 	</li>
				 	<li>
				 		<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<p><span class="bubble"></span><span class="count">202</span> Follow</p>
				 	</li>
				 	<li>
				 		<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<p><span class="bubble"></span><span class="count">202</span> Like</p>
				 	</li>
				 </ul>

			</section>  <!-- /#social-buttons -->

			{% block popular_post %}

			{% endblock %}

			{% block older_post %}

			{% endblock %}




			<section id="ccr-sidebar-add-place">
				<div class="sidebar-add-place">
					370x250 px
				</div>
			</section> <!-- /#ccr-sidebar-add-place -->
		</aside><!-- / .col-md-4  / #ccr-right-section -->
	</div><!-- /.container -->
</section><!-- / #ccr-main-section -->

{% include "partials/_footer.html" %}
{% include "partials/_footscripts.html" %}



</body>
</html>